@charset "UTF-8";


/* .pagination li{
	border : #dddddd;
}

 */

.pagination li .page-link:last-child:hover{
	text-decoration: underline;
}

.pagination li:active {
	text-decoration: none;
}






#btn_subject_id{
	
	cursor: pointer;
}
#btn_subject_id.active{
	cursor : pointer;
	color: green;
}
#btn_subject_id:hover{
	text-decoration: underline;
}



